[Unit]
Description=Daily Boursnegar local Codal monitor

[Timer]
OnCalendar=*-*-* 10:00:00 Asia/Tehran
Persistent=true
RandomizedDelaySec=15m
Unit=boursnegar-local-codal-monitor.service

[Install]
WantedBy=timers.target
